<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="com.explitech.littlecopy.rest" />
	
	<!-- Declare connection Beans here -->
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" autowire-candidate="true" destroy-method="close">  
	         <property name="driverClassName" value="com.mysql.jdbc.Driver"/>  
	         <property name="url" value="jdbc:mysql://localhost:3306/littlecopy"/>  
	         <property name="username" value="root"/>  
	         <property name="password" value="bluerodeo"/>  
	         <property name="maxActive" value="100"/>  
	         <property name="maxIdle" value="30"/>  
	         <property name="maxWait" value="1000"/>  
	         <property name="defaultAutoCommit" value="true"/>  
	         <property name="removeAbandoned" value="true"/>  
	         <property name="removeAbandonedTimeout" value="60"/>  
	         <property name="logAbandoned" value="true"/>  
	 </bean>    

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 指定sqlMapConfig总配置文件，订制的environment在spring容器中不在生效 -->
		<property name="configLocation" value="classpath:sqlMapConfig.xml" />
		<!--指定实体类映射文件，可以指定同时指定某一包以及子包下面的所有配置文件，
		mapperLocations和configLocation有一个即可，当需要为实体类指定别名时，
		可指定configLocation属性，再在mybatis总配置文件中采用mapper引入实体类映射文件 -->
		<!-- <property name="mapperLocations" value="classpath*:com/xxt/ibatis/dbcp/**/*.xml"/> -->
	</bean>	
		
		
	<!-- Declare all Service Beans here -->

	<bean id="userService" class="com.explitech.littlecopy.service.impl.UserServiceImpl" scope="prototype">
	</bean>	
	
	<bean id="configService" class="com.explitech.littlecopy.service.impl.ConfigServiceImpl" scope="prototype">
	</bean>		
	
	<bean id="leadtimeService" class="com.explitech.littlecopy.service.impl.LeadtimeServiceImpl" scope="prototype">
	</bean>	
	
	<bean id="orderHistoryService" class="com.explitech.littlecopy.service.impl.OrderHistoryServiceImpl" scope="prototype">
	</bean>	
	
	<bean id="orderService" class="com.explitech.littlecopy.service.impl.OrderServiceImpl" scope="prototype">
	</bean>	
	
	<bean id="revenueService" class="com.explitech.littlecopy.service.impl.RevenueServiceImpl" scope="prototype">
	</bean>	
	
	<bean id="storageService" class="com.explitech.littlecopy.service.impl.StorageServiceImpl" scope="prototype">
	</bean>	
	
	<bean id="utilizationService" class="com.explitech.littlecopy.service.impl.UtilizationServiceImpl" scope="prototype">
	</bean>	
						
	<!--  Declare all Dao Beans Here -->
	
	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.UserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>
	
	<bean id="configDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.ConfigMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>
	
	<bean id="leadtimeDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.LeadtimeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>		

	<bean id="orderDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.OrderMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>
	
	<bean id="orderHistoryDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.OrderHistoryMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>
	
	<bean id="revenueDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.RevenueMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>		

	<bean id="storagerDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.StorageMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>
	
	<bean id="utilizationDao" class="org.mybatis.spring.mapper.MapperFactoryBean" >
		<property name="mapperInterface" value="com.explitech.littlecopy.dao.UtilizationMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>		
	</bean>
		
</beans>


